{% if success_messages %}
  <div class="row flash-boxes">
    {% for message in success_messages %}
      <div class="col-lg-12">
        <p class="bg-success" style="padding:15px">
          <button type="button" class="pull-right close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          {{ message }}
        </p>
      </div>
    {% endfor %}
  </div>
{% endif %}

{% if error_messages %}
  <div class="row flash-boxes">
    {% for message in error_messages %}
      <div class="col-lg-12">
        <p class="bg-danger" style="padding:15px">
          <button type="button" class="pull-right close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          {{ message }}
        </p>
      </div>
    {% endfor %}
  </div>
{% endif %}