{% if success_messages %}
  {% for message in success_messages %}
    <div class="row flash-boxes">
      <div class="col-xs-12">
        <p class="bg-success" style="padding:15px">
          <button type="button" class="pull-right close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          {{ message }}
        </p>
      </div>
    </div>
  {% endfor %}
{% endif %}

{% if error_messages %}
  {% for message in error_messages %}
    <div class="row flash-boxes">
      <div class="col-xs-12">
        <p class="bg-danger" style="padding:15px">
          <button type="button" class="pull-right close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          {{ message }}
        </p>
      </div>
    </div>
  {% endfor %}
{% endif %}