<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ site_name }}</title>
<link rel="stylesheet" href="/css/bootstrap.min.css" />

<link rel="stylesheet" href="/css/custom.css" />
<link rel="stylesheet" href="/scripts/timepicker/jquery.timepicker.min.css" />
<script src="/scripts/jquery.min.js"></script>
<script src="/scripts/bootstrap.min.js"></script>
<script src="/scripts/moment/moment.js"></script>
<script src="/scripts/timepicker/jquery.timepicker.min.js"></script>
<script src="/scripts/jscolor.js"></script>
