<div class="navbar {{ navigation.class }}" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">{{ name }}</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        {% for item in navigation.links %}
          {% if item.links %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ item.name }} <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                {% for subitem in item.links %}
                  {% if subitem.header %}
                    <li class="divider"></li>
                    <li class="dropdown-header">{{ subitem.header }}</li>
                  {% else %}
                    <li><a href="{{ subitem.href }}">{{ subitem.name }}</a></li>
                  {% endif %}
                {% endfor %}
              </ul>
            </li>
          {% else %}
            <li><a href="{{ item.href }}">{{ item.name }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>