{% extends "layout.html" %}

{% block content %}
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">Add Dash Button</div>
        <div class="panel-body">
          <form method="post" class="form-horizontal">
            <div class="form-group col-md-4">
              <label for="button-name" class="col-xs-6 control-label">Button Name</label>
              <div class="col-xs-6">
                <input class="form-control" type="text" id="button-name" name="name" placeholder="Billy's Room">
              </div>
            </div>
            <div class="form-group col-md-4">
              <label for="button-mac" class="col-xs-6 control-label">Button Mac</label>
              <div class="col-xs-6">
                <input class="form-control" type="text" id="button-mac" name="mac" placeholder="00:11:22:33:44:55:66">
              </div>
            </div>
            <div class="form-group col-md-4">
              <div class="col-xs-offset-6 col-xs-6">
                <input type="hidden" name="cmd" value="add-button">
                <button class="btn btn-default" type="submit">Save</button>
              </div>
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>
{% endblock %}