.flash-boxes p {
  border-radius: 1em;
}
.card-title {
  border-bottom: 1px solid #ccc;
}
button, .button {
    transition: all 0.3s ease 0s;
}
button.color-btn {
  border:1px solid #ccc;
}
.expand-log {
  cursor: pointer;
}

.hover-zone {
  border-radius: 12px;
  border-style: solid;
  border-width: 1px 2px 2px 1px;
  border-color: #BF6E3A;
  background: #FFDEBA;
  margin: 6px;
}

.hover-zone:hover {
  background: #FFAE7A;
  transition: all 0.3s ease 0s;
}
